<app-weather></app-weather>
<section class="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center">{{titleCity}} {{dataLocation.city.name}}, {{dataLocation.city.country}} </h1>
        <div class="center-block text-center">
          <div class="weather-city">
            <ul *ngIf="dataLocation.city" class="weather_city_main-forecast">
              <li class="city-temp">{{dataLocation.list[0].main.temp}} &#8451;</li>
              <li class="city-descr">
                <img src="https://openweathermap.org/img/w/{{dataLocation.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast"><br>
                <i class="owf owf-{{dataLocation.list[0].weather[0].id}}-{{dataLocation.list[0].sys.pod}}"></i> {{dataLocation.list[0].weather[0].description}}
              </li>
            </ul>
          </div>
					<span>{{forecast.main.temp_min}} / {{forecast.main.temp_max}}</span>
          <h2>5 day weather forecast</h2>
          <table class="table">
            <tbody>
              <tr class="table-city-list" *ngFor="let forecast of dataLocation.list">
                <th>{{forecast.dt_txt}}</th>
                <td>
                    <img src="https://openweathermap.org/img/w/{{dataLocation.list[0].weather[0].icon}}.png" class="icon" alt="forecast">
                    <i class="owf owf-{{dataLocation.list[0].weather[0].id}}-{{dataLocation.list[0].sys.pod}}"></i> {{dataLocation.list[0].weather[0].description}}
                </td>
                <td>{{forecast.main.temp_min}} / {{forecast.main.temp_max}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

